name: Generate Snake

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        id: snake

        with:
          github_user_name: Priyanshu-M-eng
          outputs: |
            dist/snake.svg
            dist/snake_dark.svg

      - name: Upload snake.svg to GitHub
        run: echo "snake=generated" >> $GITHUB_OUTPUT

      - name: Push snake assets
        uses: actions/upload-artifact@v3
        with:
          name: snake-animation
          path: dist/
